@import "styles/theme.scss";

.container {
  display: grid;
  grid-template-columns: 325px 1fr;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @media (min-width: $screen-lg) {
    grid-template-columns: 400px 1fr;
  }
}

.sidebar {
  background-color: #c2c2d5;
  padding: 8.5rem 1rem 1.5rem;
  @media (min-width: $screen-lg) {
    padding: 8.5rem 1.25rem 1.5rem;
  }
}

.content {
  margin-top: 7.4rem;
  width: 100%;
}

.sidebarSectionHeader {
  margin: 0;
}

.sidebarFilters {
  margin-top: 2.25rem;
}

.sidebarFiltersList {
  list-style-type: none;
  padding: 0;
  margin: 1.25rem 0 0;
  > li {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
