@import "styles/theme.scss";

.wrapper {
}

.input {
  padding: 0.5rem 0.75rem;
  border: none;
  background-color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  &:focus {
    border: none;
    outline: 1.2px solid lighten($primary, 20%);
    background-color: none;
  }
}

.inputFullWidth {
  width: 100%;
}
